@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #060822;
  color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.3rem;
}

header h1 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.todo-img {
  width: 50px;
  padding-top: 50px;
  padding-left: 10px;
}

header,
form {
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  outline: none;
  padding: 0.7rem;
  font-size: 1.6rem;
  border: none;
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-height: 50px;
}

form .add {
  outline: none;
  max-height: 50px;
  height: 50px;
  width: 50px;
  font-size: 1.6rem;
  border: none;
  padding: 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all ease-in 75ms;
}

form button:hover {
  background: rgb(165, 165, 165);
}

form button i {
  color: #eee;
}

.add {
  cursor: pointer;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add i{
  position: relative;
  color: white;
}

.clear{
 cursor: pointer;
 background-color: lightseagreen;
 margin-left: 10px;
 outline: none;
 max-height: 50px;
 height: 50px;
 width: 80px;
 text-align: center;
 font-size: 1.6rem;
 border: none;
 padding: 0;
 border-radius: 10px;
 transition: all ease-in 75ms;

}

.clear .add:hover {
  background-color: #264653;
  color: green;
}

.wrapper {
  margin: auto;
}
.task-item {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 1rem 5rem;
  padding: 0.4rem;
  transition: all 0.5s ease;
  line-height: 1.42857143;
  border-radius: 0.2rem;
  background: rgb(85, 41, 220);
}

.task-item .task-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.buttons{
  display: flex;
     
}
.task-item .trash {
  border: none;
  font-size: 1rem;
  margin-left: 5px;
  color: white;
  background-color: darkred;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.task-item .completed {
  margin-left: 5px;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #20b254;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.fa {
  pointer-events: none;
}
.fall {
  transform: scale(0);
  opacity: 0;
}
.taskCompleted {
  opacity: 0.5;
  text-decoration: line-through;
}


@media (max-width:450px) {
  form input{
    width:277px;
    margin-left: 1rem;
    }
  .clear{
    font-size: 1rem;
    padding: .1rem;
    margin-right: 1rem;
  }
  .add{
    margin-left: -1rem;
  }

  .task-item{
    margin: 1rem;
  }
}

@media (max-width:360px) {
  form input{
    width:240px;
  }
  .task-item{
    margin:1rem;
  }
}

@media (max-width:315px) {
  header h1{
    font-size: 33px;
  }
  form input{
    width:220px;
  }
  .task-item{
    margin: 1rem;
  }
} 

