@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(120deg,#264653,#2a9d8f);
	color: white;
	font-family: 'Open Sans Bold',sans-serif;
	min-height: 100vh;
}
header{
	font-size: 2rem;
}
header,form{
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
form input, form button i{
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: white;
}
.add{
	cursor: pointer;
}
.add i:hover{
	background-color: #264653;
	color: white;
}
.wrapper{
	width: 60%;
	margin: auto;
}

.todo{
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: black;
	margin: 1rem;
	padding: .5rem;
	transition: all 0.5s ease;
}
.todo .tasklist {
	flex: 1;
	list-style: none;
}
.todo .trash {
	border: none;
	font-size: 1rem;
	margin-left: 2px;
	color: white;
	background-color: darkred;
	padding: .5rem;
	cursor: pointer;
}
.todo .completed {
	border: none;
	font-size: 1rem;
	margin-left: 2px;
	color: white;
	background-color: lightseagreen;
	padding: .5rem;
	cursor: pointer;
}
.fa{
	pointer-events: none;
}
.fall{
	transform: scale(0);
	opacity: 0;
}
