@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: #fff;
  transition-duration: 1s;
}

button:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}

.dark-mode {
  position: fixed;
  top: 4vw;
  left: 4vw;
  background-color: #05445e;
  height: 35px;
  width: auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 8px;
  border: none;
}

.display-none {
  display: none;
}

.dark-light i {
  padding-right: 0.3rem;
}

.dark-light button:hover {
  cursor: pointer;
  background-color: grey;
}

.light-mode {
  background-color: lightseagreen;
  position: fixed;
  top: 4vw;
  left: 4vw;
  height: 35px;
  width: auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 8px;
  border: none;
}

button {
  color: white;
}

header {
  font-size: 1.3rem;
}

header h1 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  color: #05445e;
  transition-duration: 1s;
}

.todo-img {
  width: 50px;
  padding-top: 50px;
  padding-left: 10px;
}

header,
form {
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentTime {
  font-size: 1.5rem;
  font-weight: lighter;
}

.currentTime,
.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentDesc {
  padding-bottom: 5px;
}

.subWeatherItems {
  padding-left: 1vh;
  font-weight: lighter;
}

form input {
  outline: none;
  padding: 0.7rem;
  font-size: 1.6rem;
  border: none;
  background-color: #75e6da;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-height: 50px;
  color: white;
  transition-duration: 1s;
}

::placeholder {
  color: grey;
}

form .add {
  outline: none;
  max-height: 50px;
  height: 50px;
  width: 50px;
  font-size: 1.6rem;
  border: none;
  padding: 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all ease-in 75ms;
}

form button:hover {
  background-color: #189ab4;
}

form button i {
  color: #eee;
}

.add {
  cursor: pointer;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add i {
  position: relative;
  color: white;
}

.clear {
  cursor: pointer;
  background-color: lightseagreen;
  margin-left: 10px;
  outline: none;
  max-height: 50px;
  height: 50px;
  width: 80px;
  text-align: center;
  font-size: 1.6rem;
  border: none;
  padding: 0;
  border-radius: 10px;
  transition: all ease-in 75ms;
}

.clear:hover {
  background-color: darkred;
  color: white;
}

.clear .add:hover {
  background-color: #264653;
  color: #20b254;
}

.all-done, .all-undone {
  cursor: pointer;
  background-color: lightseagreen;
  margin-left: 10px;
  outline: none;
  max-height: 50px;
  height: 50px;
  width: auto;
  text-align: center;
  font-size: 1.6rem;
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
  transition: all ease-in 75ms;
}

.all-done:hover {
  background-color: green;
  color: white;
}

.all-undone:hover {
  background-color: blue;
  color: white;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
}

.progressiveBar {
  padding-left: 3rem;
  padding-right: 3rem;
}

.bar {
  width: 100%;
  background-color: lightseagreen;
  border-radius: 0.4rem;
  margin-right: 2rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: -19px;
  transition-duration: 1s;
  color: #fff;
}

.bar-background {
  position: relative;
  width: 100%;
  background-color: hsl(236, 60%, 16%);
  height: 19px;
  border-radius: 0.4rem;
  margin-right: 2rem;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 1rem 25%;
  padding: 0.6rem;
  transition: all 0.5s ease;
  line-height: 1.42857143;
  border-radius: 0.2rem;
  background-color: #189ab4;
}

.task-item .task-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.task-date {
  font-size: 0.7rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 2%;
  margin-right: 2%;
}

.task-text {
  font-weight: 900 !important;
  color: #96ff88;
}
.buttons {
  display: flex;
}
.task-item .trash {
  border: none;
  font-size: 1rem;
  margin-left: 5px;
  color: white;
  background-color: darkred;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.task-item .completed {
  margin-left: 5px;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #20b254;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.task-item .edited {
  border: none;
  font-size: 1rem;
  margin-left: 5px;
  color: white;
  background-color: skyblue;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.fa {
  pointer-events: none;
}
.fall {
  transform: scale(0);
  opacity: 0;
}
.taskCompleted {
  opacity: 0.5;
  text-decoration: line-through;
}

/*Dark mode css*/

body.dark {
  background: #060822;
  color: white;
  transition-duration: 1s;
}

header h1.dark {
  color: white;
  transition-duration: 1s;
}

form input.dark {
  background: white;
  color: black;
  transition-duration: 1s;
}

form button.dark:hover {
  background: rgb(165, 165, 165);
}

/* Dark mode css end*/

@media (max-width: 450px) {
  form input {
    width: 277px;
    margin-left: 1rem;
  }
  .clear {
    font-size: 1rem;
    padding: 0.1rem;
    margin-right: 1rem;
  }
  .add {
    margin-left: -1rem;
  }

  .task-item {
    margin: 1rem;
  }
}

@media (max-width: 360px) {
  form input {
    width: 240px;
  }
  .task-item {
    margin: 1rem;
  }
}

@media (max-width: 315px) {
  header h1 {
    font-size: 33px;
  }
  form input {
    width: 220px;
  }
  .task-item {
    margin: 1rem;
  }
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: darkred;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
footer {
  text-align: center;
  font-size: 1em;
}
