@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #060822;
  color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.3rem;
}

header h1 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.todo-img {
  width: 50px;
  padding-top: 50px;
  padding-left: 10px;
}

header,
form {
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  outline: none;
  padding: 0.7rem;
  font-size: 1.6rem;
  border: none;
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-height: 50px;
}

form button {
  outline: none;
  max-height: 50px;
  height: 50px;
  width: 50px;
  font-size: 1.6rem;
  border: none;
  padding: 0;
  border-radius: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all ease-in 75ms;
}

form button:hover {
  background: rgb(165, 165, 165);
}

form button i {
  color: #eee;
}

.add{
  cursor: pointer;
  background-color: lightseagreen;
}
.add i{
  position: relative;
  left: 25%;
  color: white;
}

.add:hover {
  background-color: #264653;
  color: green;
}

.wrapper {
  width: 50%;
  margin: auto;
}
.todo {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: white;
  margin: 1rem;
  padding: 0.4rem;
  transition: all 0.5s ease;
  line-height: 1.42857143;
  border-radius: 0.2rem;
  background: rgb(85, 41, 220);
}
.todo .tasklist {
  margin-left: 15px;
  flex: 1;
  list-style: none;
}
.todo .trash {
  border: none;
  font-size: 1rem;
  margin-left: 2px;
  color: white;
  background-color: darkred;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.todo .completed {
  margin-left: 5px;
  border: none;
  font-size: 1rem;
  margin-left: 2px;
  color: white;
  background-color: #20b254;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.fa {
  pointer-events: none;
}
.fall {
  transform: scale(0);
  opacity: 0;
}
